###
# #%L
# Software for the reconstruction of multi-view microscopic acquisitions
# like Selective Plane Illumination Microscopy (SPIM) Data.
# %%
# Copyright (C) 2012 - 2024 Multiview Reconstruction developers.
# %%
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as
# published by the Free Software Foundation, either version 2 of the
# License, or (at your option) any later version.
# 
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public
# License along with this program.  If not, see
# <http://www.gnu.org/licenses/gpl-2.0.html>.
# #L%
###
#
# Plugins from the spimreconstructions
#
Plugins>BigStitcher>General, "Define Multi-View Dataset", net.preibisch.mvrecon.fiji.plugin.Define_Multi_View_Dataset
Plugins>BigStitcher>General, "Image Fusion", net.preibisch.mvrecon.fiji.plugin.Image_Fusion
Plugins>BigStitcher>General, "Quality Estimation", net.preibisch.mvrecon.fiji.plugin.Image_Quality
Plugins>BigStitcher>General, "Deconvolution", net.preibisch.mvrecon.fiji.plugin.Image_Deconvolution
Plugins>BigStitcher>General>Tools, "Apply Transformations", net.preibisch.mvrecon.fiji.plugin.Apply_Transformation
Plugins>BigStitcher>General>Tools, "Define Bounding Box", net.preibisch.mvrecon.fiji.plugin.Define_Bounding_Box
Plugins>BigStitcher>General>Tools, "Duplicate Transformations", net.preibisch.mvrecon.fiji.plugin.Duplicate_Transformation
Plugins>BigStitcher>General>Tools, "Display View", net.preibisch.mvrecon.fiji.plugin.Display_View
Plugins>BigStitcher>General>Tools, "Specify Calibration", net.preibisch.mvrecon.fiji.plugin.Specify_Calibration
Plugins>BigStitcher>General>Tools>PSF, "View PSFs", net.preibisch.mvrecon.fiji.plugin.PSF_View
Plugins>BigStitcher>General>Tools>PSF, "Average PSFs", net.preibisch.mvrecon.fiji.plugin.PSF_Average
Plugins>BigStitcher>General>Tools>PSF, "Assign PSFs", net.preibisch.mvrecon.fiji.plugin.PSF_Assign
Plugins>BigStitcher>General>Tools>Intensity, "Adjust Intensities", net.preibisch.mvrecon.fiji.plugin.Intensity_Adjustment
Plugins>BigStitcher>General>Tools>Intensity, "Remove Intensitiy Adjustments", net.preibisch.mvrecon.fiji.plugin.RemoveIntensity_Adjustment
Plugins>BigStitcher>Interest Points, "Detect Interest Points for Registration", net.preibisch.mvrecon.fiji.plugin.Interest_Point_Detection
Plugins>BigStitcher>Interest Points, "Register Dataset based on Interest Points", net.preibisch.mvrecon.fiji.plugin.Interest_Point_Registration
Plugins>BigStitcher>Interest Points, "Extract PSFs", net.preibisch.mvrecon.fiji.plugin.PSF_Extract
Plugins>BigStitcher>Interest Points>Tools, "Visualize Detections", net.preibisch.mvrecon.fiji.plugin.Visualize_Detections
Plugins>BigStitcher>Interest Points>Tools, "Create Detections from Correspondences", net.preibisch.mvrecon.fiji.plugin.CreateFromCorresponding_Detections
Plugins>BigStitcher>Interest Points>Tools, "Show Detection Distance Histogram", net.preibisch.mvrecon.fiji.plugin.Show_Histogram
Plugins>BigStitcher>Interest Points>Tools, "Show Relative Detection Distance Histogram", net.preibisch.mvrecon.fiji.plugin.Show_Relative_Histogram
Plugins>BigStitcher>Interest Points>Tools, "Remove Detections by Distance", net.preibisch.mvrecon.fiji.plugin.ThinOut_Detections
Plugins>BigStitcher>Interest Points>Tools, "Remove Detections by relative Distance", net.preibisch.mvrecon.fiji.plugin.RelativeThinOut_Detections
Plugins>BigStitcher>Interest Points>Tools, "Analyze Alignment Errors", net.preibisch.mvrecon.fiji.plugin.Analyze_Errors
Plugins>BigStitcher>I/O, "Resave as HDF5 (local)", net.preibisch.mvrecon.fiji.plugin.resave.Resave_HDF5
Plugins>BigStitcher>I/O, "Resave as N5 (local, cloud)", net.preibisch.mvrecon.fiji.plugin.resave.Resave_N5Api
Plugins>BigStitcher>I/O, "Resave As TIFF (local)", net.preibisch.mvrecon.fiji.plugin.resave.Resave_TIFF
Plugins>BigStitcher>I/O, "Save as ...", net.preibisch.mvrecon.fiji.plugin.XMLSaveAs
Plugins>BigStitcher>I/O, "Resave Luxendo XML for BigStitcher", net.preibisch.mvrecon.headless.definedataset.Rewrite_LuxendoXML

