###
# #%L
# Software for the reconstruction of multi-view microscopic acquisitions
# like Selective Plane Illumination Microscopy (SPIM) Data.
# %%
# Copyright (C) 2012 - 2021 Multiview Reconstruction developers.
# %%
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as
# published by the Free Software Foundation, either version 2 of the
# License, or (at your option) any later version.
# 
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public
# License along with this program.  If not, see
# <http://www.gnu.org/licenses/gpl-2.0.html>.
# #L%
###
#
# Plugins from the spimreconstructions
#
Plugins>Multiview Reconstruction, "MultiView Reconstruction Application", net.preibisch.mvrecon.fiji.plugin.Data_Explorer
Plugins>Multiview Reconstruction>Batch Processing, "Define Multi-View Dataset", net.preibisch.mvrecon.fiji.plugin.Define_Multi_View_Dataset
Plugins>Multiview Reconstruction>Batch Processing, "Detect Interest Points for Registration", net.preibisch.mvrecon.fiji.plugin.Interest_Point_Detection
Plugins>Multiview Reconstruction>Batch Processing, "Register Dataset based on Interest Points", net.preibisch.mvrecon.fiji.plugin.Interest_Point_Registration
Plugins>Multiview Reconstruction>Batch Processing, "Fuse", net.preibisch.mvrecon.fiji.plugin.Image_Fusion
Plugins>Multiview Reconstruction>Batch Processing, "Quality Estimation", net.preibisch.mvrecon.fiji.plugin.Image_Quality
Plugins>Multiview Reconstruction>Batch Processing, "Deconvolve", net.preibisch.mvrecon.fiji.plugin.Image_Deconvolution
Plugins>Multiview Reconstruction>Batch Processing, "Extract PSFs", net.preibisch.mvrecon.fiji.plugin.PSF_Extract
Plugins>Multiview Reconstruction>Batch Processing>Tools, "Apply Transformations", net.preibisch.mvrecon.fiji.plugin.Apply_Transformation
Plugins>Multiview Reconstruction>Batch Processing>Tools, "Define Bounding Box", net.preibisch.mvrecon.fiji.plugin.Define_Bounding_Box
Plugins>Multiview Reconstruction>Batch Processing>Tools, "Duplicate Transformations", net.preibisch.mvrecon.fiji.plugin.Duplicate_Transformation
Plugins>Multiview Reconstruction>Batch Processing>Tools, "Display View", net.preibisch.mvrecon.fiji.plugin.Display_View
Plugins>Multiview Reconstruction>Batch Processing>Tools, "Specify Calibration", net.preibisch.mvrecon.fiji.plugin.Specify_Calibration
Plugins>Multiview Reconstruction>Batch Processing>Tools, "Visualize Detections", net.preibisch.mvrecon.fiji.plugin.Visualize_Detections
Plugins>Multiview Reconstruction>Batch Processing>Tools, "Create Detections from Correspondences", net.preibisch.mvrecon.fiji.plugin.CreateFromCorresponding_Detections
Plugins>Multiview Reconstruction>Batch Processing>Tools, "Show Detection Distance Histogram", net.preibisch.mvrecon.fiji.plugin.Show_Histogram
Plugins>Multiview Reconstruction>Batch Processing>Tools, "Show Relative Detection Distance Histogram", net.preibisch.mvrecon.fiji.plugin.Show_Relative_Histogram
Plugins>Multiview Reconstruction>Batch Processing>Tools, "Remove Detections by Distance", net.preibisch.mvrecon.fiji.plugin.ThinOut_Detections
Plugins>Multiview Reconstruction>Batch Processing>Tools, "Remove Detections by relative Distance", net.preibisch.mvrecon.fiji.plugin.RelativeThinOut_Detections
Plugins>Multiview Reconstruction>Batch Processing>Tools, "Visualize smFISH detections (hack)", net.preibisch.mvrecon.headless.interestpointdetection.VisualizeSmFISH
Plugins>Multiview Reconstruction>Batch Processing>Tools>PSF, "View PSFs", net.preibisch.mvrecon.fiji.plugin.PSF_View
Plugins>Multiview Reconstruction>Batch Processing>Tools>PSF, "Average PSFs", net.preibisch.mvrecon.fiji.plugin.PSF_Average
Plugins>Multiview Reconstruction>Batch Processing>Tools>PSF, "Assign PSFs", net.preibisch.mvrecon.fiji.plugin.PSF_Assign
Plugins>Multiview Reconstruction>Batch Processing>Tools>Intensity, "Adjust Intensities", net.preibisch.mvrecon.fiji.plugin.Intensity_Adjustment
Plugins>Multiview Reconstruction>Batch Processing>Tools>Intensity, "Remove Intensitiy Adjustments", net.preibisch.mvrecon.fiji.plugin.RemoveIntensity_Adjustment
Plugins>Multiview Reconstruction>Batch Processing>Resave, "As HDF5", net.preibisch.mvrecon.fiji.plugin.resave.Resave_HDF5
Plugins>Multiview Reconstruction>Batch Processing>Resave, "As N5", net.preibisch.mvrecon.fiji.plugin.resave.Resave_N5
Plugins>Multiview Reconstruction>Batch Processing>Resave, "As TIFF", net.preibisch.mvrecon.fiji.plugin.resave.Resave_TIFF
Plugins>Multiview Reconstruction>Batch Processing>Tools>Cluster, "Toggle Cluster Processing", net.preibisch.mvrecon.fiji.plugin.Toggle_Cluster_Options
Plugins>Multiview Reconstruction>Batch Processing>Tools>Cluster, "Merge Cluster Jobs", net.preibisch.mvrecon.fiji.plugin.Merge_Cluster_Jobs
